
// copywrite
 .text-center {
    display: flex;
    justify-content: center;
    padding: 15px;
    text-size: 1.4rem

  }


.contact {
    justify-content:center;
    font-size: 1.6rem;
}

.address-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-h2 {
    display: flex;
    justify-content: center;
}