
    
.header-container {
    
}
    
   


.navigation  {
   display: flex;
   justify-content: space-around;
   align-items: center;


  .main-navigation {
      
  }

    a {
        padding: 10px;
        text-decoration: none;
        color: @font-colorBlack;

    }
};



.header-content-band {
}