
.navigation  {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 2rem;




    a {
        padding: 10px;
        text-decoration: none;
        color: @font-colorBlack;
        @media (max-width: 400px) {
            margin: 5px;  
            padding: px;
            display: flex;
            justify-content: flex-start;
         }

    }
};


// .logo {
//     @media (max-width: 400px) {
//         font-size: 3rem;  
//      }
// }